<a href="https://colab.research.google.com/github/Nagasri1224/2303A52456-Stml/blob/main/STATML_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error,root_mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
import time

In [ ]:
data = pd.read_csv('/content/US Airline Flight Routes and Fares.csv')
data

<ipython-input-2-855c0fe6b379>:1: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/US Airline Flight Routes and Fares.csv')

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,...,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,...,81.43,G4,1.0000,81.43,G4,1.0000,81.43,NaN,NaN,202131013514112ABEPIE
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,...,208.93,DL,0.4659,219.98,UA,0.1193,154.11,NaN,NaN,202131013515304ABETPA
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,...,184.56,WN,0.9968,184.44,WN,0.9968,184.44,NaN,NaN,202131014011259ABQDAL
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,...,182.64,AA,0.9774,183.09,AA,0.9774,183.09,NaN,NaN,202131014011298ABQDFW
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,...,177.11,WN,0.6061,184.49,AA,0.3939,165.77,NaN,NaN,202131014014107ABQPHX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245950,Table1a,2024,1,35412,31703,"Knoxville, TN","New York City, NY (Metropolitan Area)",15412,12953,TYS,...,278.70,DL,0.7503,287.44,AA,0.2359,248.46,NaN,NaN,202411541212953TYSLGA
245951,Table1a,2024,1,35412,32467,"Knoxville, TN","Miami, FL (Metropolitan Area)",15412,11697,TYS,...,148.69,G4,0.8255,114.45,G4,0.8255,114.45,NaN,NaN,202411541211697TYSFLL
245952,Table1a,2024,1,35412,32467,"Knoxville, TN","Miami, FL (Metropolitan Area)",15412,13303,TYS,...,330.19,AA,0.8057,321.92,AA,0.8057,321.92,NaN,NaN,202411541213303TYSMIA
245953,Table1a,2024,1,35412,33195,"Knoxville, TN","Tampa, FL (Metropolitan Area)",15412,14112,TYS,...,95.65,G4,1.0000,95.65,G4,1.0000,95.65,NaN,NaN,202411541214112TYSPIE
245954,Table1a,2024,1,35412,33195,"Knoxville, TN","Tampa, FL (Metropolitan Area)",15412,15304,TYS,...,330.15,AA,0.5212,288.38,AA,0.5212,288.38,NaN,NaN,202411541215304TYSTPA

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 23 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tbl             245955 non-null  object
 1   Year            245955 non-null  int64
 2   quarter         245955 non-null  int64
 3   citymarketid_1  245955 non-null  int64
 4   citymarketid_2  245955 non-null  int64
 5   city1           245955 non-null  object
 6   city2           245955 non-null  object
 7   airportid_1     245955 non-null  int64
 8   airportid_2     245955 non-null  int64
 9   airport_1       245955 non-null  object
 10  airport_2       245955 non-null  object
 11  nsmiles         245955 non-null  int64
 12  passengers      245955 non-null  int64
 13  fare            245955 non-null  float64
 14  carrier_lg      244415 non-null  object
 15  large_ms        244415 non-null  float64
 16  fare_lg         244415 non-null  float64
 17  carrier_low     244343 non-null  object
 18  lf_ms           244343 non-null  float64
 19  fare_low        244343 non-null  float64
 20  Geocoded_City1  206749 non-null  object
 21  Geocoded_City2  206749 non-null  object
 22  tbl1apk         245955 non-null  object
dtypes: float64(5), int64(8), object(10)
memory usage: 43.2+ MB

In [ ]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,245955.0,2008.524124,8.703364,1993.0000,2001.000,2008.0000,2016.0000,2024.0
quarter,245955.0,2.479153,1.122149,1.0000,1.000,2.0000,3.0000,4.0
citymarketid_1,245955.0,31556.430201,1089.872880,30135.0000,30721.000,31423.0000,32467.0000,35412.0
citymarketid_2,245955.0,32180.117086,1232.464184,30189.0000,30994.000,32211.0000,33192.0000,35628.0
airportid_1,245955.0,12437.099986,1431.665257,10135.0000,11193.000,12266.0000,13487.0000,16440.0
airportid_2,245955.0,13249.889525,1425.810159,10466.0000,12197.000,13303.0000,14679.0000,15919.0
nsmiles,245955.0,1189.812319,703.143472,109.0000,626.000,1023.0000,1736.0000,2724.0
passengers,245955.0,299.476795,511.389486,0.0000,21.000,113.0000,339.0000,8301.0
fare,245955.0,218.979587,82.372486,50.0000,164.620,209.3200,262.8900,3377.0
large_ms,244415.0,0.665252,0.224635,0.0038,0.480,0.6524,0.8719,1.0
fare_lg,244415.0,218.710963,84.674363,50.0000,161.500,208.0300,263.6400,2725.6
lf_ms,244343.0,0.450438,0.332669,0.0100,0.158,0.3600,0.7500,1.0
fare_low,244343.0,190.675939,73.577694,50.0000,140.060,181.6300,230.0400,2725.6

In [ ]:
data.isnull().sum()

tbl                   0
Year                  0
quarter               0
citymarketid_1        0
citymarketid_2        0
city1                 0
city2                 0
airportid_1           0
airportid_2           0
airport_1             0
airport_2             0
nsmiles               0
passengers            0
fare                  0
carrier_lg         1540
large_ms           1540
fare_lg            1540
carrier_low        1612
lf_ms              1612
fare_low           1612
Geocoded_City1    39206
Geocoded_City2    39206
tbl1apk               0
dtype: int64

In [ ]:
data.duplicated().sum()

0

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.nunique()

tbl                    2
Year                  31
quarter                4
citymarketid_1       141
citymarketid_2       128
city1                141
city2                128
airportid_1          188
airportid_2          173
airport_1            187
airport_2            173
nsmiles             1155
passengers          3883
fare               36323
carrier_lg            67
large_ms            7367
fare_lg            37508
carrier_low           71
lf_ms               9687
fare_low           32283
Geocoded_City1       238
Geocoded_City2       207
tbl1apk           245955
dtype: int64

In [ ]:
data.shape

(245955, 23)

In [ ]:
x=data.drop(['fare','city1','city2','tbl','tbl1apk','airport_1','airport_2','carrier_lg','carrier_low','Geocoded_City1','Geocoded_City2'],axis=1)
y=data['fare']

In [ ]:
y.head()

0     81.43
1    208.93
2    184.56
3    182.64
4    177.11
Name: fare, dtype: float64

In [ ]:
x.head()

,Year,quarter,citymarketid_1,citymarketid_2,airportid_1,airportid_2,nsmiles,passengers,large_ms,fare_lg,lf_ms,fare_low
0,2021,3,30135,33195,10135,14112,970,180,1.0000,81.43,1.0000,81.43
1,2021,3,30135,33195,10135,15304,970,19,0.4659,219.98,0.1193,154.11
2,2021,3,30140,30194,10140,11259,580,204,0.9968,184.44,0.9968,184.44
3,2021,3,30140,30194,10140,11298,580,264,0.9774,183.09,0.9774,183.09
4,2021,3,30140,30466,10140,14107,328,398,0.6061,184.49,0.3939,165.77

In [ ]:
x.isnull().sum()

Year                 0
quarter              0
citymarketid_1       0
citymarketid_2       0
airportid_1          0
airportid_2          0
nsmiles              0
passengers           0
large_ms          1540
fare_lg           1540
lf_ms             1612
fare_low          1612
dtype: int64

In [ ]:
x.fillna(x.mean(),inplace=True)

In [ ]:
x.isnull().sum()

Year              0
quarter           0
citymarketid_1    0
citymarketid_2    0
airportid_1       0
airportid_2       0
nsmiles           0
passengers        0
large_ms          0
fare_lg           0
lf_ms             0
fare_low          0
dtype: int64

#Scaling

In [ ]:

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=42)

#Linear reggression

In [ ]:
lr = LinearRegression()
st=time.time()
lr.fit(x_train,y_train)
et=time.time()

In [ ]:
yp=lr.predict(x_test)

In [ ]:
ltt=et-st
mse_linear = mean_squared_error(y_test, yp)
r2_linear = r2_score(y_test, yp)
mae_linear = mean_absolute_error(y_test, yp)
rmse_linear = np.sqrt(mse_linear)

print('Training time : ',ltt)
print('Mean Squared Error (MSE):', mse_linear)
print('R² Score:', r2_linear)
print('Mean Absolute Error (MAE):', mae_linear)
print('Root Mean Squared Error (RMSE):', rmse_linear)

Training time :  0.12187671661376953
Mean Squared Error (MSE): 855.4764901442774
R² Score: 0.8707179152659199
Mean Absolute Error (MAE): 11.927279594342444
Root Mean Squared Error (RMSE): 29.24852970910294

#Lasso regression

In [ ]:
las = Lasso()
st=time.time()
las.fit(x_train,y_train)
et=time.time()

In [ ]:
yp_lasso = las.predict(x_test)

In [ ]:
lasso_tt=et-st
mse_lasso = mean_squared_error(y_test, yp_lasso)
r2_lasso = r2_score(y_test, yp_lasso)
mae_lasso = mean_absolute_error(y_test, yp_lasso)
rmse_lasso = np.sqrt(mse_lasso)

print('Training time : ',lasso_tt)
print('Mean Squared Error (MSE) for Lasso:', mse_lasso)
print('R² Score for Lasso:', r2_lasso)
print('Mean Absolute Error (MAE) for Lasso:', mae_lasso)
print('Root Mean Squared Error (RMSE) for Lasso:', rmse_lasso)

Training time :  0.5895521640777588
Mean Squared Error (MSE) for Lasso: 859.2842349682691
R² Score for Lasso: 0.8701424778405173
Mean Absolute Error (MAE) for Lasso: 12.1060272071029
Root Mean Squared Error (RMSE) for Lasso: 29.31355036443503

#Ridge Regression

In [ ]:
RR = Ridge()
st=time.time()
RR.fit(x_train,y_train)
et=time.time()

In [ ]:
yp_ridge=RR.predict(x_test)

In [ ]:
RR_tt=et-st
mse_ridge = mean_squared_error(y_test, yp_ridge)
r2_ridge = r2_score(y_test, yp_ridge)
mae_ridge = mean_absolute_error(y_test, yp_ridge)
rmse_ridge = np.sqrt(mse_ridge)

print('Training time : ',RR_tt)
print('Mean Squared Error (MSE) for Ridge:', mse_ridge)
print('R² Score for Ridge:', r2_ridge)
print('Mean Absolute Error (MAE) for Ridge:', mae_ridge)
print('Root Mean Squared Error (RMSE) for Ridge:', rmse_ridge)

Training time :  0.09166884422302246
Mean Squared Error (MSE) for Ridge: 855.4763687424337
R² Score for Ridge: 0.8707179336125181
Mean Absolute Error (MAE) for Ridge: 11.927330833697848
Root Mean Squared Error (RMSE) for Ridge: 29.248527633753355

In [ ]:

data = {
    'Model': ['Linear Regression', 'Lasso Regression', 'Ridge Regression'],
    'MSE': [mse_linear, mse_lasso, mse_ridge],
    'R² Score': [r2_linear, r2_lasso, r2_ridge],
    'MAE': [mae_linear, mae_lasso, mae_ridge],
    'RMSE': [rmse_linear, rmse_lasso, rmse_ridge],
    'Training Time':[ltt,lasso_tt,RR_tt]
}

df = pd.DataFrame(data)

df

,Model,MSE,R² Score,MAE,RMSE,Training Time
0,Linear Regression,855.476490,0.870718,11.927280,29.248530,0.121877
1,Lasso Regression,859.284235,0.870142,12.106027,29.313550,0.589552
2,Ridge Regression,855.476369,0.870718,11.927331,29.248528,0.091669

#scaling

#SVM

In [ ]:
svr = SVR(kernel='linear')
st=time.time()
svr.fit(x_train,y_train)
et=time.time()

In [ ]:
yp_svr=svr.predict(x_test)

In [ ]:
svr_tt=et-st
mse_svr = mean_squared_error(y_test, yp_svr)
r2_svr = r2_score(y_test, yp_svr)
mae_svr = mean_absolute_error(y_test, yp_svr)
rmse_svr = np.sqrt(mse_svr)

print('Training time : ',svr_tt)
print('Mean Squared Error (MSE) for SVR:', mse_svr)
print('R² Score for SVR:', r2_svr)
print('Mean Absolute Error (MAE) for SVR:', mae_svr)
print('Root Mean Squared Error (RMSE) for SVR:', rmse_svr)

#Table comarision of errors

In [ ]:

data = {
    'Model': ['Linear Regression', 'Lasso Regression', 'Ridge Regression', 'SVR'],
    'MSE': [mse_linear, mse_lasso, mse_ridge, mse_svr],
    'R² Score': [r2_linear, r2_lasso, r2_ridge, r2_svr],
    'MAE': [mae_linear, mae_lasso, mae_ridge, mae_svr],
    'RMSE': [rmse_linear, rmse_lasso, rmse_ridge, rmse_svr],
    'Training Time':[ltt,lasso_tt,RR_tt,svr_tt]
}

df = pd.DataFrame(data)

df

In [ ]:
df.to_csv('errors.csv',index=False)